<a href="https://colab.research.google.com/github/rajeshbopate/-Microspectra/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
#creating a variable with integer value
a=50
print("The type of variable having value", a, " is ", type(a))

The type of variable having value 50  is  <class 'int'>

In [60]:
#Integer to Binary Conversion bin()
a=55
print("The type of variable having value", bin(a), " is ", type(a))

The type of variable having value 0b110111  is  <class 'int'>

In [61]:
#Binary to Integer Conversion prefix 0b (zero + lowercase letter 'b')
a=0b00111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 7  is  <class 'int'>

In [62]:
# exp2 Binary to Integer Conversion 0B (zero + uppercase letter 'B')
a = -0B1100
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value -12  is  <class 'int'>

In [63]:
#Integer to Octal Conversion oct()
a = 15
print("The type of variable having value", oct(a), " is ", type(a))

The type of variable having value 0o17  is  <class 'int'>

In [64]:
#Octal To Integer Conversion 0o (zero + lowercase letter 'o')
a = 0o1101
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 577  is  <class 'int'>

In [65]:
#Octal To Integer Conversion 0O (zero + uppercase letter O )
a = 0O1111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 585  is  <class 'int'>

In [66]:
#Integer to Hexadecimal Conversion hex()
a = 53
print("The type of variable having value", hex(a), " is ", type(a))

The type of variable having value 0x35  is  <class 'int'>

In [67]:
#Hexadeciaml to Integer Conversion 0X (zero + uppercase letter 'X')
a = 0XFace
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 64206  is  <class 'int'>

In [68]:
#Hexadecimal to Integer Conversion 0x (zero + lowercase letter 'x')
a = 0xBeef
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 48879  is  <class 'int'>

In [69]:
print(5555241 + 1)

5555242

In [70]:
#create a variable with float value. dollar price
b=2.53
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 2.53  is  <class 'float'>

In [71]:
#Specify value in Exponential Form
b = 2.2e3
print("The type of variable having value", b, " is ", type(b))

The type of variable having value 2200.0  is  <class 'float'>

In [72]:
#create a variable with complex value.
c=57+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (57+3j)  is  <class 'complex'>

In [73]:
#Checking Real and Imaginary part
c=57+3j
print("The real part is", c.real)
print("The iamginary part is", c.imag)

The real part is 57.0
The iamginary part is 3.0

In [74]:
#create a variable with complex value. (real part as binary)
c=0b0011+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (3+3j)  is  <class 'complex'>

In [75]:
#create a variable with complex value. (real part as octal)
c=0o1001+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (513+3j)  is  <class 'complex'>

In [76]:
#create a variable with complex value. (real part as hexadecimal)
c=0xaabb+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value (43707+3j)  is  <class 'complex'>

In [77]:
#Converting Integer to Float
a=50
print("Type conversion to float ", float(a))

Type conversion to float  50.0

In [78]:
#Converting Integer to complex
a=48
print("Type conversion to float ", complex(a))

Type conversion to float  (48+0j)

In [79]:
#converting a variable with float value to Integer
b=2.58
print("Flaot to integer is", int(b))

Flaot to integer is 2

In [80]:
#converting a variable with float value Complex
b=7.52
print("Float to Complex is", complex(b))

Float to Complex is (7.52+0j)

In [81]:
# using format() to print value till 3 decimal places
print ("The value of number till 3 decimal place(using format()) is : ",end="")
print ("{0:.3f}".format(a))

The value of number till 3 decimal place(using format()) is : 48.000

In [82]:
# using round() to print value till 1 decimal places
print ("The value of number till 1 decimal place(using round()) is : ",end="")
print (round(a,1))

The value of number till 1 decimal place(using round()) is : 48

In [6]:
a = "Rajesh"
b= 'Bopte'
print(a)
print(b)

Rajesh
Bopte

In [11]:
# using ',' to concatenate the two or several strings
print(a+b)

RajeshBopte

In [12]:
#using '+' to concate the two or several strings
print(a+" concated with "+b)

Rajesh concated with Bopte

In [5]:
element = "Rajesh"
count = 5
print ("The item {} is repeated {} times".format(element,count))

The item Rajesh is repeated 5 times

In [4]:
#It means repeating a sequence of instructions a certain number of times.
String1 = "Rajesh"
print(String1*4)

RajeshRajeshRajeshRajesh

In [14]:
# Python Program for
# Escape Sequencing
# of String
# Initial String
String1 = '''I'm a "Rajesh"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

Initial String with use of Triple Quotes:
I'm a "Rajesh"

In [16]:
# Escaping Single Quote
String1 = 'I\'m a "Rajesh"'
print("\nEscaping Single Quote: ")
print(String1)

Escaping Single Quote:
I'm a "Rajesh"

In [17]:
# Escaping Doule Quotes
String1 = "I'm a \"Rajesh\""
print("\nEscaping Double Quotes: ")
print(String1)

Escaping Double Quotes:
I'm a "Rajesh"

In [18]:
# Printing Paths with the
# use of Escape Sequences
String1 = "C:\\Python\\Rajesh\\"
print("\nEscaping Backslashes: ")
print(String1)

Escaping Backslashes:
C:\Python\Rajesh\

In [20]:
str = "RajeshBopte"
print(str)

RajeshBopte

In [23]:
#Positive Indexing In Python
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])
print(str[6])
print(str[7])
print(str[8])
print(str[9])
print(str[10])

R
a
j
e
s
h
B
o
p
t
e

In [26]:
#Negative Indexing In Python
print(str[-1])
print(str[-2])
print(str[-3])
print(str[-4])
print(str[-5])
print(str[-6])
print(str[-7])
print(str[-8])
print(str[-9])
print(str[-10])
print(str[0])

e
t
p
o
B
h
s
e
j
a
R

In [27]:
str[1:4]

'aje'

In [28]:
str[3:]

'eshBopte'

In [29]:
str[:4]

'Raje'

In [30]:
str[:]

'RajeshBopte'

In [31]:
str[-1:-4]

''

In [32]:
str[-4:-1]

'opt'

In [33]:
str[1:100]

'ajeshBopte'

In [34]:
str[1:10:2]

'aehot'

In [35]:
str[-9:-2:2]

'jsBp'

In [36]:
#capitalize(): Converts the first character of a string to uppercase letters.
mystr='rajesh'
mystr.capitalize()

'Rajesh'

In [38]:
#upper() Replaces the lowercase characters in a string with corresponding uppercase characters.
mystr='rajesh'
mystr.upper()

'RAJESH'

In [39]:
#lower() Replaces the uppercase characters in a string with corresponding lowercase characters.
mystr='RAJESH'
mystr.lower()

'rajesh'

In [40]:
#title():Returns the string with the first character of each word converted to uppercase.
mystr='Rajesh is a good boy'
mystr.title()

'Rajesh Is A Good Boy'

In [42]:
#find():The find() method finds the first occurrence of a substring in another string. If not found, the method returns -1.
mystr='Rajesh is a good boy'
mystr.find('Rajesh')

-1

0

In [44]:
#count():The count() method returns the number of occurrences of a substring in the given string.
mystr='Rajesh is a good boy'
mystr.count('boy')

1

In [45]:
#isalpha():The isalpha() method returns true if all the characters in a string are alphabetic letters (a-z or A-Z), otherwise it returns
mystr='RajeshBopte'
mystr.isalpha()

True

In [48]:
#isdigit() The isdigit() is method returns true if all the characters in string are digits (0-9), if not, it returns false.
str1='55000'
str1.isdigit()

True

In [49]:
str2='5,000'
str2.isdigit()

False

In [50]:
#islower() The islower() method returns true if all the characters in the string are lowercase characters, else it returns false.
str1='rajesh'
str1.islower()

True

In [51]:
#isupper() The isupper() method returns true if all the characters in the string are uppercase characters, else it returns false.
var='RAJESHBOPTE'
var.isupper()

True

In [52]:
#isupper() The isupper() method returns true if all the characters in the string are uppercase characters, else it returns false.
var='RAJESHbopte'
var.isupper()

False

In [54]:
# '+' Appends the second string to the first
a='Rajesh'
b='Bopte'
a+b

'RajeshBopte'

In [56]:
# '*' Concatenates multiple copies of the same string
a='Rajesh'
a*5

'RajeshRajeshRajeshRajeshRajesh'

In [57]:
# 'in' Returns true if a character exists in the given string
a = 'RajeshBopte'
'X' in a

False